    <!-- <ng-container *ngIf="course.length">
      <div *ngFor="let doc of course; let i=index">
      <div class="card text-center">
        <div class="card-header">
          Web Devlopment
        </div>
        <div class="card-body">
          <h5 class="card-title">{{doc.courseName}}</h5>
          <p class="card-text">{{doc.courseDescription}}</p>
          <a href="#" class="btn btn-primary" routerLink="/web">Start Course</a>
        </div>
      </div>
    </div>
    </ng-container> -->
<br>
<br>
<br>
<br>
<br>

    <head>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    </head>
   
      
    
    <div class="container">
      <ng-container *ngIf="course.length">
        <div *ngFor="let doc of course; let i=index">
          <body>
            
          
      <div class="card">
        <img class="card-img-top" src="../../../assets/1.jfif" alt="Card">
        <br>
        <br>
        <h3 class="title">{{doc.courseName}}</h3>
        <div class="bar">
            <br>
          <p class="card-text" class="text-danger">{{doc.courseDescription}}</p>
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
            
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
              
          <circle class="stroke" cx="60" cy="60" r="50"/>
  
        </svg>
        <a href="http://localhost:4200/web" class="card-link">Start Course</a>
        <h6 class="card-subtitle mb-2 text-muted">Beginner</h6>
        </div>
      </div>
    </body>
    </div>
    </ng-container>
  
      <!-- <div class="card">
        <img class="card-img-top" src="../../../assets/2.jpeg" alt="Card">
        <br>
        <br>
        <h3 class="title">CSS and BOOTSTRAP</h3>
        <div class="bar">
            <br>
          <p class="card-text" class="text-danger">Become a Master in CSS.</p>
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50"/>
        </svg>
        <a href="http://localhost:4200/web" class="card-link">Start Course</a>
        <h6 class="card-subtitle mb-2 text-muted">Beginner</h6>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/3.png" alt="Card">
        <br>
        <br>
        <h3 class="title">JAVASCRIPT</h3>
        <div class="bar">
            <br>
          <p class="card-text" class="text-danger">Become a Master in JAVASCRIPT.</p>
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50"/>
        </svg>
        <a href="http://localhost:4200/web" class="card-link">Start Course</a>
        <h6 class="card-subtitle mb-2 text-muted">Beginner</h6>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/4.jpg" alt="Card">
        <br>
        <br>
        <h3 class="title">BUSINESS</h3>
        <div class="bar">
            <br>
          <p class="card-text" class="text-danger">Become a Master in BUSINESS.</p>
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50"/>
        </svg>
        <a href="http://localhost:4200/web" class="card-link">Start Course</a>
        <h6 class="card-subtitle mb-2 text-muted">Master</h6>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/5.png" alt="Card">
        <br>
        <br>
          <h3 class="title">SQL and NODE JS</h3>
          <div class="bar">
              <br>
            <p class="card-text" class="text-danger">Become a Master in NODE JS.</p>
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="circle">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="stroke" cx="60" cy="60" r="50"/>
          </svg>
          <a href="http://localhost:4200/web" class="card-link">Start Course</a>
          <h6 class="card-subtitle mb-2 text-muted">Master</h6>
          </div>
        </div>
    </div> -->
    