
  <br>
  <br>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container-fluid mt-4">
    <div class="row justify-content-center">

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">HTML</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Beginner</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="http://localhost:4200/web" class="card-link">Start Course</a>
                    
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">CSS and BOOTSTRAP</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Beginner</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="http://localhost:4200/web" class="card-link">Start Course</a>
                </div>
            </div>
        </div>
        
        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">IT & Security</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Pro</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="http://localhost:4200/web" class="card-link">Start Course</a>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">TABLE-U</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Master</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="http://localhost:4200/web" class="card-link">Start Course</a>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">BUSINESS_DEVELOPMENT</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Beginner</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="http://localhost:4200/web" class="card-link">Start Course</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
  </head>
  <body>
  <div class="container">
    <div class="card">
      <h3 class="title">HTML</h3>
      <div class="bar">
          <br>
        <p class="card-text" class="text-danger">Become a Master in Html.</p>
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
          
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            
        <circle class="stroke" cx="60" cy="60" r="50"/>

      </svg>
      <a href="http://localhost:4200/web" class="card-link">Start Course</a>
      <h6 class="card-subtitle mb-2 text-muted">Beginner</h6>
      </div>
    </div>
    <div class="card">
      <h3 class="title">CSS and BOOTSTRAP</h3>
      <div class="bar">
          <br>
        <p class="card-text" class="text-danger">Become a Master in CSS.</p>
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="stroke" cx="60" cy="60" r="50"/>
      </svg>
      <a href="http://localhost:4200/web" class="card-link">Start Course</a>
      <h6 class="card-subtitle mb-2 text-muted">Beginner</h6>
      </div>
    </div>
    <div class="card">
      <h3 class="title">JAVASCRIPT</h3>
      <div class="bar">
          <br>
        <p class="card-text" class="text-danger">Become a Master in JAVASCRIPT.</p>
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="stroke" cx="60" cy="60" r="50"/>
      </svg>
      <a href="http://localhost:4200/web" class="card-link">Start Course</a>
      <h6 class="card-subtitle mb-2 text-muted">Beginner</h6>
      </div>
    </div>
    <div class="card">
      <h3 class="title">BUSINESS</h3>
      <div class="bar">
          <br>
        <p class="card-text" class="text-danger">Become a Master in BUSINESS.</p>
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="stroke" cx="60" cy="60" r="50"/>
      </svg>
      <a href="http://localhost:4200/web" class="card-link">Start Course</a>
      <h6 class="card-subtitle mb-2 text-muted">Master</h6>
      </div>
    </div>
    <div class="card">
        <h3 class="title">Backend</h3>
        <div class="bar">
            <br>
          <p class="card-text" class="text-danger">Become a Master in NODE JS.</p>
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50"/>
        </svg>
        <a href="http://localhost:4200/web" class="card-link">Start Course</a>
        <h6 class="card-subtitle mb-2 text-muted">Master</h6>
        </div>
      </div>
  </div>
  </body>